@using Application.Services
@using Application.ViewModel.Sales
@model SalesAnalyticsViewModel

<div class="card">
    <div class="card-body border-0 shadow">
        <h3>Аналитика</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <label asp-for="Period"></label>
                    <label asp-for="Period" class="form-control">@Model.Period</label>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Revenue"></label>
                    <label asp-for="Revenue" class="form-control">@Model.Revenue.ToString(".00") @CurrencySettings.Symbol</label>
                </div>
                <div class="col-md-6">
                    <label asp-for="SalesCount"></label>
                    <label asp-for="SalesCount" class="form-control">@Model.SalesCount</label>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="ProductsCount"></label>
                    <label asp-for="ProductsCount" class="form-control">@Model.ProductsCount</label>
                </div>
                <div class="col-md-6">
                    <label asp-for="AvgRevenue"></label>
                    <label asp-for="AvgRevenue" class="form-control">@Model.AvgRevenue.ToString(".00") @CurrencySettings.Symbol</label>
                </div>
            </div>
        </div>
    </div>
</div>


