@page
@using Application.Extensions;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using static Application.Model.Orders.Order;
@model Application.Areas.Manager.Pages.OrderInfoModel

@{
    ViewData["Title"] = "Управление заказом";
    ViewData["ClientValidationEnabled"] = false;
}


<div class="container-fluid mb-5">
    <div class="col-md-10 mx-auto">
        <div class="card">
            <div class="card-header" style="background-color:@Model.OrderView.StateBgColor; color: @Model.OrderView.TextColor">
                <h1>@ViewData["Title"]</h1>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="OrderView.OrderDate" class="fs-5"></label>
                        <label asp-for="OrderView.OrderDate" class="fs-5">@Model.OrderView.OrderDate.ToString("dd.MM.yyyy HH.mm")</label>
                        <br />
                        <label asp-for="OrderView.State" class="fs-5"></label>
                        <label asp-for="OrderView.State" class="fs-5">: @Model.OrderView.State.GetDisplayName()</label>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="OrderView.Type" class="fs-5"></label>
                        <label asp-for="OrderView.Type" class="fs-5">: @Model.OrderView.Type.GetDisplayName()</label>
                        <br />
                        <label asp-for="OrderView.PaymentType" class="fs-5"></label>
                        <label asp-for="OrderView.PaymentType" class="fs-5">: @Model.OrderView.PaymentType.GetDisplayName()</label>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <h3>Заказчик</h3>
                <partial name="_ContactPartial" model="Model.ClientInfo" />
                @if (Model.CompanyInfo != null)
                {
                    <br />
                    <h4>Компания</h4>
                    <partial name="_CompanyPartial" model="Model.CompanyInfo" />
                }                               
            </div>
            <hr />
            <div class="card-body">
                <h3>Доставка</h3>
                @if (Model.OrderView.State != States.Cancelled)
                {
                    <form asp-page-handler="Delivery" method="post">
                        <div class="row">
                            <label asp-for="DeliveryDate.Date" class="control-label"></label>
                            <div class="col-md-6">
                                <input asp-for="DeliveryDate.Date" class="form-control" />
                                <span asp-validation-for="DeliveryDate.Date" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mt-1">
                                <input asp-for="OrderView.Id" type="hidden" />
                                <button type="submit" class="btn btn-primary">Обновить дату доставки</button>
                            </div>
                        </div>
                    </form>
                }
                <br/>
                <div>
                    <partial name="_DeliveryPartial" model="Model.Delivery" />
                </div>
            </div>
            <hr />
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mt-3">
                        <h3>Товары заявки</h3>
                    </div>
                    <div class="col-md-8">
                        @if (Model.OrderView.State != States.Cancelled)
                        {
                            <label class="control-label"> Выбранный склад для реализации заявки</label>
                            <select id="stock-selector" asp-for="SelectedStock" asp-items="Model.StockList" class="form-control"
                                    data-live-search="true"></select>
                        }
                    </div>
                </div>
                <hr/>
                <div id="products" class="overflow-auto" style="max-height: 50vh">
                    
                </div>
                <br/>
                <div id="order-action">

                </div>
                <br/>
                <div>
                    <a asp-page="Index" class="btn btn-secondary btn-lg">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $.ajaxSetup({
            headers: {
                'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
            }
        });

        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/Manager/Orders/OrderInfo?handler=Products",
                success: function (data) {

                    $("#products").html(data);

                    $.ajax({
                        type: "GET",
                        url: "/Manager/Orders/OrderInfo?handler=OrderAction",
                        success: function (data) {

                            $("#order-action").html(data);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#stock-selector').change(function () {
                var selectedStock = $(this).val();

                $.ajax({
                    url: "/Manager/Orders/OrderInfo?handler=Stock",
                    type: "POST",
                    data: { selectedStock: selectedStock },
                    success: function (data) {
                        $('#products').html(data);

                        $.ajax({
                            type: "GET",
                            url: "/Manager/Orders/OrderInfo?handler=OrderAction",
                            success: function (data) {

                                $("#order-action").html(data);
                            }
                        });
                    }
                });
            });
        });
    </script>


    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
