@using Frontend.Models
@model IEnumerable<Application.DTOs.OrderProductWithStockInfoDto>

<div class="table-responsive">
    <table class="table table-hover table-bordered table-secondary rounded-3 overflow-hidden">
        <thead>
            <tr>
                <th class="text-center fs-5" style="width: 40%">Товар</th>
                <th class="text-center fs-5" style="width: 20%">Цена</th>
                <th class="text-center fs-5" style="width: 20%">Количество</th>
                <th class="text-center fs-5" style="width: 20%">Сумма</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-start">@item.Name</td>
                    <td class="text-start">@item.Price.ToString(CurrencySettings.Format) @CurrencySettings.Symbol</td>
                    <td class="text-start">@item.QuantityInOrder</td>
                    <td class="text-start">@((item.Price * item.QuantityInOrder).ToString(CurrencySettings.Format)) @CurrencySettings.Symbol</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="table-success">
                <td class="text-start"><strong>Итого:</strong></td>
                <td></td>
                <td class="text-start"><strong>@Model.Sum(x => x.QuantityInOrder)</strong></td>
                <td class="text-start"><strong>@Model.Sum(x => x.Price * x.QuantityInOrder).ToString(CurrencySettings.Format) @CurrencySettings.Symbol</strong></td>
            </tr>
        </tfoot>
    </table>
</div> 