@using Application.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Frontend.Models
@model Frontend.Models.Orders.PaymentViewModel

<div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title">Оплата</h3>
    </div>
    <div class="card-body">
        <div class="form-group mb-3">
            <label asp-for="PaymentType" class="form-label d-block"></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="PaymentType" 
                       value="@Order.PaymentTypes.Cash" id="paymentCash" disabled="@(!Model.Editable)">
                <label class="form-check-label" for="paymentCash">
                    Наличными
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="PaymentType" 
                       value="@Order.PaymentTypes.Card" id="paymentCard" disabled="@(!Model.Editable)">
                <label class="form-check-label" for="paymentCard">
                    Банковской картой
                </label>
            </div>
            <span asp-validation-for="PaymentType" class="text-danger"></span>
        </div>
        <div class="alert alert-success d-flex align-items-center">
            <strong class="me-2">Сумма к оплате:</strong>
            <span class="badge bg-success fs-6">@Model.Amount.ToString(CurrencySettings.Format) @CurrencySettings.Symbol</span>
        </div>
    </div>
</div> 