@page
@using Services
@model Application.Areas.Admin.Pages.Stores.AddProductModel

@{
    ViewData["Title"] = $"Склад {Model.Stock.Name}";
}


<div class="container-fluid">
    <div class="row">
        <h1>Товары</h1>
        <div class="col-md-9 mt-2">
            <div class="overflow-auto" style="height: 60vh">
                <table class="table table-bordered shadow">
                    <thead class="thead-dark text-center align-middle">
                        <form method="post">
                        <tr>
                            <th><button asp-page-handler="Sort" asp-route-sortOrder="@Model.GetSortOrder("Name")" class="btn btn-link">Название</button></th>
                            <th><button asp-page-handler="Sort" asp-route-sortOrder="@Model.GetSortOrder("Description")" class="btn btn-link">Описание</button></th>
                            <th><button asp-page-handler="Sort" asp-route-sortOrder="@Model.GetSortOrder("RetailPrice")" class="btn btn-link">Розничная<br />Цена</button></th>
                            <th><button asp-page-handler="Sort" asp-route-sortOrder="@Model.GetSortOrder("WholesalePrice")" class="btn btn-link">Оптовая<br />Цена</button></th>
                            <th><button asp-page-handler="Sort" asp-route-sortOrder="@Model.GetSortOrder("Quantity")" class="btn btn-link">Количество<br />на Складе</button></th>
                            <th>
                                <div class="input-group">
                                    <input asp-for="@Model.SearchString" type="text" class="form-control form-control-sm form-check-inline" placeholder="Фильтровать по имени">
                                    <div class="input-group-append">
                                        <button asp-page-handler="Search" class="btn btn-sm btn-secondary" type="submit">Применить</button>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <input asp-for="@Model.Product.Id" type="hidden" />
                        <input asp-for="@Model.Stock.Id" type="hidden" />
                        </form>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.Products)
                        {
                            <tr>
                                <td>@product.Name</td>
                                <td>@product.Description</td>
                                <td>@product.WholesalePrice @CurrencySettings.Symbol</td>
                                <td>@product.RetailPrice @CurrencySettings.Symbol</td>
                                <td>@product.Quantity</td>
                                <td>
                                    <form method="post">
                                        <input asp-for="@Model.Product.Id" type="hidden" />
                                        <input asp-for="@Model.Stock.Id" type="hidden" />
                                        <button asp-page-handler="Select" asp-route-productId="@product.Id" class="btn btn-primary col-12">
                                            Выбрать
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0">
                <div class="card-body shadow">
                    <form method="post">
                        <input asp-for="@Model.Product.Id" type="hidden" />
                        <input asp-for="@Model.Stock.Id" type="hidden" />
                        <h4>Выбранный товар</h4>
                        <hr />
                        <div class="form-check mt-2">
                            <h3 asp-for="@Model.Product.Name">@Model.Product.Name</h3>
                        </div>
                        <div class="form-check mt-2">
                            <h3 asp-for="@Model.Product.Description">@Model.Product.Description</h3>
                        </div>
                        <hr />
                        <div class="form-check mt-2">
                            <label asp-for="@Model.Product.Quantity"></label>
                            <input asp-for="@Model.Product.Quantity" type="number" class="form-control" />
                        </div>
                        <hr />
                        <br />
                        <div class="mt-2">
                            <button asp-page-handler="Add" class="btn col-12 btn-primary">Применить</button>
                        </div>
                        <div class="row px-2 mt-4">
                            <a asp-page="StockInfo" asp-route-id="@Model.Stock.Id" class="btn col-12 btn-secondary">Назад</a>
                        </div>
                    </form>                    
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}