@page
@model Application.Areas.Admin.Pages.Stores.EditProductModel
@{
}

@{
    ViewData["Title"] = $"Редактирование товара";
}

<form method="post">
    <input type="hidden" asp-for="@Model.Product.Id" />
    <input type="hidden" asp-for="@Model.Stock.Id" />
    <input type="hidden" asp-for="@Model.Stock.Name" />
    <input type="hidden" asp-for="@Model.Stock.Location" />

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mt-4">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <h2>@ViewData["Title"]</h2>

                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-check mt-2">
                            <label asp-for="@Model.Product.Name"></label>
                            <input asp-for="@Model.Product.Name" type="text" class="form-control" />
                        </div>
                        <div class="form-check mt-2">
                            <label asp-for="@Model.Product.Description"></label>
                            <input asp-for="@Model.Product.Description" type="text" class="form-control" />
                        </div>
                        <hr />
                        <div class="form-check mt-2">
                            <label asp-for="@Model.Product.Quantity"></label>
                            <input asp-for="@Model.Product.Quantity" type="number" class="form-control" />
                        </div>
                        <hr />
                        <div class="form-check mt-2">
                            <label asp-for="@Model.Product.RetailPrice"></label>
                            <input asp-for="@Model.Product.RetailPrice" type="number" step="0.01" class="form-control" />
                        </div>
                        <div class="form-check mt-2">
                            <label asp-for="@Model.Product.WholesalePrice"></label>
                            <input asp-for="@Model.Product.WholesalePrice" type="number" step="0.01" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="row px-2">
                    <div class="card border-0 shadow">
                        <div class="card-body text-center">
                            <div class="card-body">
                                <h2>@Model.Stock.Name</h2>
                                <hr />
                                <p>
                                    Тип склада: @Model.Stock.SaleType.GetDisplayName()
                                </p>
                                <p>
                                    Адрес склада: @Model.Stock.Location
                                </p>
                                <hr />
                                <div class="mt-2">
                                    <button asp-page-handler="Apply" class="btn col-12 btn-primary">Приненить</button>
                                </div>
                                <div class="row px-2 mt-4">
                                    <a asp-page="StockInfo" asp-route-id ="@Model.Stock.Id" class="btn col-12 btn-secondary">Назад</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</form>

@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}