@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Application.Areas.Admin.Pages.Stores.IndexModel
@{
    ViewData["Title"] = "Склады";
}

<div class="container">
    <div class="row">
        <h1>@ViewData["Title"]</h1>
        <div class="col-md-9 mt-2">

            <table class="table table-bordered shadow">
                <thead class="thead-dark text-center align-middle">
                <tr>
                    <th>Название</th>
                    <th>Адресс</th>
                    <th>Тип</th>
                    <th>Количество<br/>товаров</th>
                    <th colspan="2"></th>
                </tr>
                </thead>
                <tbody class="text-center align-middle">
                @foreach (var item in Model.Stocks)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Location</td>
                        <td>@item.SaleType.GetDisplayName()</td>
                        <td>@item.Quantity</td>
                        <td style="width: 25%">
                            <a asp-page="StockInfo" asp-route-id="@item.Id" class="btn btn-block btn-primary col-10">Управление</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-md-3 mt-2">
            <div class="card border-0 shadow">
                <div class="card-body text-center">
                    <div class="text-start mx-1">
                        <h6 class="text-start fs-12">Количество складов: @Model.StocksCount</h6>
                        <h6 class="text-start fs-12">Количество товаров: @Model.ProductsCount</h6>
                    </div>
                    <hr/>
                    <div>
                        <a asp-page="AddStock" class="btn btn-primary">Создать новый склад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>