@page
@using Services
@model Application.Areas.Admin.Pages.Stores.StockInfoModel

@{
    ViewData["Title"] = $"Управление складом";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 mt-2">
            <h2>@ViewData["Title"]</h2>
            <div class="overflow-auto" style="height: 60vh">
                <table class="table table-bordered shadow">
                    <thead class="thead-dark text-center align-middle">
                        <form method="post">
                        <tr>
                            <th><button asp-page-handler="Sort" asp-route-sortOrder="@Model.GetSortOrder("Name")" class="btn btn-link">Название</button></th>
                            <th><button asp-page-handler="Sort" asp-route-sortOrder="@Model.GetSortOrder("Description")" class="btn btn-link">Описание</button></th>
                            <th><button asp-page-handler="Sort" asp-route-sortOrder="@Model.GetSortOrder("RetailPrice")" class="btn btn-link">Розничная<br />Цена</button></th>
                            <th><button asp-page-handler="Sort" asp-route-sortOrder="@Model.GetSortOrder("WholesalePrice")" class="btn btn-link">Оптовая<br />Цена</button></th>
                            <th><button asp-page-handler="Sort" asp-route-sortOrder="@Model.GetSortOrder("Quantity")" class="btn btn-link">Количество<br />на Складе</button></th>
                            <th>
                                <div class="input-group">
                                    <input asp-for="@Model.SearchString" type="text" class="form-control form-control-sm form-check-inline" placeholder="Фильтровать по имени">
                                    <div class="input-group-append">
                                        <button asp-page-handler="Search" class="btn btn-sm btn-secondary" type="submit">Применить</button>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <input asp-for="@Model.Stock.Id" type="hidden" />
                        </form>
                    </thead>
                    <tbody class="text-center align-middle">
                        @{
                            foreach (var item in Model.Products)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Description</td>
                                    <td>@item.RetailPrice </td>
                                    <td>@item.WholesalePrice</td>
                                    <td>@item.Quantity</td>
                                    <td>
                                        <a asp-page="EditProduct" asp-route-id="@item.Id" asp-route-stockId="@Model.Stock.Id" class="btn btn-primary col-12">Редактировать</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3 mt-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h2>@Model.Stock.Name</h2>
                    <hr />
                    <p>
                        Тип склада: @Model.Stock.SaleType.GetDisplayName()
                    </p>
                    <p>
                        Адресс склада: @Model.Stock.Location
                    </p>
                    <p>
                        Количество товаров: @Model.Stock.Quantity
                    </p>
                    <hr />
                    <div class="mt-2">
                        <a asp-page="AddProduct" asp-route-id="@Model.Stock.Id" asp class="btn col-12 btn-primary text-nowrap">Добавить товары</a>
                    </div>
                    <div class="mt-2">
                        <a asp-page="Edit" asp-route-id="@Model.Stock.Id" class="btn col-12 btn-primary">Редактировать</a>
                    </div>
                    <div class="row px-2 mt-4">
                        <a asp-page="Index" class="btn col-12 btn-secondary">Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
