@model Frontend.Models.Products.ProductCardViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-muted">@Model.Product.Category</h4>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Описание</h5>
            <p class="fs-6">@Model.Product.Description</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h5>Детали товара</h5>
            <div class="d-flex justify-content-between align-items-center mt-2">
                <div class="d-flex align-items-center">
                    <span class="me-2">Штрих-код:</span>
                    <span class="badge bg-primary rounded-pill fs-6">@Model.Product.Barcode</span>
                </div>
                <div class="d-flex align-items-center">
                    <span class="me-2">Цена:</span>
                    <span class="badge bg-success rounded-pill fs-6">@Model.Product.Price.ToString("C")</span>
                </div>
            </div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(Model.EditAction))
    {
        <div class="row mt-4">
            <div class="col-md-12">
                <a href="@Model.EditAction" class="btn btn-primary">
                    <i class="fas fa-edit"></i> Редактировать товар
                </a>
            </div>
        </div>
    }
</div> 