@page
@using Application.Extensions;
@model Application.Pages.OrderInfoModel

@{
    ViewData["Title"] = "Информация о заказе";
    ViewData["ClientValidationEnabled"] = false;
}

<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-10 mx-auto mt-3">
            <div class="card">
                <div class="card-header" style="background-color:@Model.Order.StateBgColor; color: @Model.Order.TextColor">
                    <h1>@ViewData["Title"]</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Order.OrderDate" class="fs-5"></label>
                            <label asp-for="Order.OrderDate" class="fs-5">@Model.Order.OrderDate.ToString("dd.MM.yyyy HH.mm")</label>
                            <br/>
                            <label asp-for="Order.State" class="fs-5"></label>
                            <label asp-for="Order.State" class="fs-5">: @Model.Order.State.GetDisplayName()</label>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Order.Type" class="fs-5"></label>
                            <label asp-for="Order.Type" class="fs-5">: @Model.Order.Type.GetDisplayName()</label>
                            <br/>
                            <label asp-for="Order.PaymentType" class="fs-5"></label>
                            <label asp-for="Order.PaymentType" class="fs-5">: @Model.Order.PaymentType.GetDisplayName()</label>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h3>Товары</h3>
                    <div class="overflow-auto" style="max-height: 50vh">
                        <partial name="_OrderPartial" model="Model.Products" />
                    </div>
                </div>
                <hr />
                <div class="card-body">
                    <h3>Доставка</h3>
                    <div>
                        <partial name="_DeliveryPartial" model="Model.Delivery" />
                    </div>
                </div>
                @if(Model.Order.Type == Application.Model.Sales.SaleTypes.Wholesale)
                {
                    <div class="card-body">
                        <h3>Реквезиты для оплаты</h3>
                        <div>
                            <partial name="_CompanyPartial" model="Model.AppCompany" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
